*{margin:0;
padding:0;
}
body{
background-color: #c4c4c4;
}
nav{
    background-color:#0278AE;
    height: 90px; 
  
}
nav p:nth-child(1){
    font-size: 45px;
    text-align: center;
color: #FFFFFF;

padding-top:3px;

}
nav p:nth-child(2){
    font-size: 18px;
    text-align: center;
    
    
}
form {border: 3px solid #f1f1f1;
    background-color: white;
    margin:20px 20% 30px 20%;
    border-radius: 10px;
    width: 60%;
    height: 100%;
}
form h2{
    text-align: center;
    color: rgb(115, 108 ,207)
}
h2:after{
    content: ' '; 
    display:block;
    border: 1.5px solid #0278AE;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
input{
    padding: 10px;
    font-size:inherit;
}
input[type="text"], input[type="email"], input[type="password"], input[type="cpassword"] {
    display: block;
    margin-top: 35px;
    margin-bottom: 25px;
    width: 50%;
    border: none;
    border-radius: 10px;
    background-color: #A19898;
    margin-left: auto;
   margin-right: auto;
   outline: none;
}
    button[type="submit"]{
        background-color: #0278ae;
   font-size: 15px;
   font-weight: 600;
   color: white;
   padding: 12px 10px;
   margin: 20px 0;
   border: none;
   cursor: pointer;
   width: 20%;
   border-radius: 10px;
   outline: none;
   margin-left: 40%;       
      
    }


 button:hover {
    opacity: 0.6;
  }

    /*responsive code still needs editing*/
    @media screen and (max-width: 1000px) {
        .sign-up-form, .input-box, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }


    }

    footer {
        bottom: 0;
        width: 100%;
        border-top: 2px solid rgb(26, 147, 247);
        position: absolute;
    }
    
    .footer-content {
        display: block;
        height: 80px;
        margin-bottom: 0%;
        background: #0278AE;
    }
    
    .footer-content p {
        display: inline-block;
   font-size: 16px;
   width: 16%;
   color:white;
   align-content: justify;
   margin-right: 10px;
   padding-top: 30px;
   padding-left: 8px;
    }
    
    .footer-content #copy {
        width: 25%;
    }
    
    .footer-content a {
        text-decoration: none;
        color: white;
    }

